In [1]:
!ls

Nike Factories.ipynb Nike.xls
Nike Factories.py    README.md

In [2]:
import pandas as pd

/Users/nisha/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [211]:
! pip install xlrd

Requirement already satisfied: xlrd in /Users/nisha/.pyenv/versions/3.8.10/lib/python3.8/site-packages (2.0.1)
WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the '/Users/nisha/.pyenv/versions/3.8.10/bin/python -m pip install --upgrade pip' command.

In [3]:
#Read xls with xlrd
import xlrd

xlrd_book = xlrd.open_workbook("Nike.xls", on_demand=True)
with pd.ExcelFile(xlrd_book) as xls:
    df = pd.read_excel(xls, "Worksheet")

In [4]:
df.head()

,Nike Global Manufacturing Data Export - Filters applied: (NIKE) Data As Of February 2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Factory Name,Factory Type,Product Type,"Nike, Inc. Brand(s)",Events,Supplier Group,Address,City,State,Postal Code,...,Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers,Contact Name,Contact Phone,Contact Fax,Contact Email,Subcons
1,"A & K DESIGNS, INC.",FINISHED GOODS,APPAREL,NIKE,NaN,A & K DESIGNS,8564 NE ALDERWOOD ROAD,PORTLAND,OREGON,97220,...,AMERICAS,130,90,71.0%,0.0%,NaN,NaN,NaN,NaN,NaN
2,"ACODE SPORTING GOODS CO., LTD",FINISHED GOODS,EQUIPMENT,NIKE,NaN,NO GROUP (EQ),32 VSIIP-A DUONG31,VIETNAM,BÌNH DUONG,82617,...,SE ASIA,289,233,1.0%,0.4%,NaN,NaN,NaN,NaN,NaN
3,AJARA 1,FINISHED GOODS,APPAREL,NIKE,NaN,MILTEKS,"BOBOKVATI STREET 14, BOBOKVATI VILLAGE",KOBULETI,AJARIA,6200,...,EMEA,1061,820,99.0%,0.0%,NaN,NaN,NaN,NaN,NaN
4,AJARA TEXTILE LTD,FINISHED GOODS,APPAREL,NIKE,NaN,MILTEKS,31 MOTSERELIA STR.,POTI,SAMEGRELO-ZEMO SVA,4400,...,EMEA,1351,1111,96.0%,0.0%,NaN,NaN,NaN,NaN,NaN

In [5]:
# Make the first row the new header
new_header = df.iloc[0]
df = df[1:] 
df.columns = new_header

In [6]:
df.head()

,Factory Name,Factory Type,Product Type,"Nike, Inc. Brand(s)",Events,Supplier Group,Address,City,State,Postal Code,...,Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers,Contact Name,Contact Phone,Contact Fax,Contact Email,Subcons
1,"A & K DESIGNS, INC.",FINISHED GOODS,APPAREL,NIKE,NaN,A & K DESIGNS,8564 NE ALDERWOOD ROAD,PORTLAND,OREGON,97220,...,AMERICAS,130,90,71.0%,0.0%,NaN,NaN,NaN,NaN,NaN
2,"ACODE SPORTING GOODS CO., LTD",FINISHED GOODS,EQUIPMENT,NIKE,NaN,NO GROUP (EQ),32 VSIIP-A DUONG31,VIETNAM,BÌNH DUONG,82617,...,SE ASIA,289,233,1.0%,0.4%,NaN,NaN,NaN,NaN,NaN
3,AJARA 1,FINISHED GOODS,APPAREL,NIKE,NaN,MILTEKS,"BOBOKVATI STREET 14, BOBOKVATI VILLAGE",KOBULETI,AJARIA,6200,...,EMEA,1061,820,99.0%,0.0%,NaN,NaN,NaN,NaN,NaN
4,AJARA TEXTILE LTD,FINISHED GOODS,APPAREL,NIKE,NaN,MILTEKS,31 MOTSERELIA STR.,POTI,SAMEGRELO-ZEMO SVA,4400,...,EMEA,1351,1111,96.0%,0.0%,NaN,NaN,NaN,NaN,NaN
5,"ALL WELLS INTERNATIONAL CO., LTD.",FINISHED GOODS,FOOTWEAR,NIKE,NaN,SPORTS GEAR,"81 ROAD., TOC TIEN COMMUNE., PHU MY TOWN",PHU MY,BÀ RA - VUNG TÀU,790000,...,SE ASIA,3273,2495,83.0%,0.0%,NaN,NaN,NaN,NaN,NaN

In [7]:
# Rows and columns
df.shape

(498, 21)

In [8]:
# Check to see missing values and what columns can be removed
df.info

<bound method DataFrame.info of 0                                  Factory Name    Factory Type Product Type  \
1                           A & K DESIGNS, INC.  FINISHED GOODS      APPAREL
2                 ACODE SPORTING GOODS CO., LTD  FINISHED GOODS    EQUIPMENT
3                                       AJARA 1  FINISHED GOODS      APPAREL
4                             AJARA TEXTILE LTD  FINISHED GOODS      APPAREL
5             ALL WELLS INTERNATIONAL CO., LTD.  FINISHED GOODS     FOOTWEAR
..                                          ...             ...          ...
494             ZHEJIANG CLIS FASHION CO., LTD.  FINISHED GOODS      APPAREL
495      ZHEJIANG GUANGTAI DELTA SOCKS CO. LTD.  FINISHED GOODS    EQUIPMENT
496   ZHEJIANG QIAOER TINGTING GARMENT CO., LTD  FINISHED GOODS      APPAREL
497            ZHENJIANG TUNTEX GARMENT CO LTD.  FINISHED GOODS      APPAREL
498  ZHUJI HENGTAI KNITTING & TEXTILE CO., LTD.  FINISHED GOODS    EQUIPMENT

0   Nike, Inc. Brand(s) Events Supplier Group  \
1                  NIKE    NaN  A & K DESIGNS
2                  NIKE    NaN  NO GROUP (EQ)
3                  NIKE    NaN        MILTEKS
4                  NIKE    NaN        MILTEKS
5                  NIKE    NaN    SPORTS GEAR
..                  ...    ...            ...
494                NIKE    NaN  NO GROUP (AP)
495                NIKE    NaN          DELTA
496                NIKE    NaN          DELTA
497                NIKE    NaN         TUNTEX
498                NIKE    NaN          DELTA

0                                              Address               City  \
1                               8564 NE ALDERWOOD ROAD           PORTLAND
2                                   32 VSIIP-A DUONG31            VIETNAM
3               BOBOKVATI STREET 14, BOBOKVATI VILLAGE           KOBULETI
4                                   31 MOTSERELIA STR.               POTI
5             81 ROAD., TOC TIEN COMMUNE., PHU MY TOWN             PHU MY
..                                                 ...                ...
494                    NO 10 BLDG NO 39 XIANGYUAN ROAD           HANGZHOU
495                                 36 KAIXIANG AVENUE  CAOTA TOWN, ZHUJI
496                            NO 147 WEST RENMIN ROAD       SHANGYU CITY
497  NO. 10, FUDA VENTURE PARK, JURONG ECONOMIC DEV...          ZHENJIANG
498                        NO. 10, TIANYUAN WEST ROAD,              ZHUJI

0                 State Postal Code  ...    Region Total Workers Line Workers  \
1                OREGON       97220  ...  AMERICAS           130           90
2            BÌNH DUONG       82617  ...   SE ASIA           289          233
3                AJARIA        6200  ...      EMEA          1061          820
4    SAMEGRELO-ZEMO SVA        4400  ...      EMEA          1351         1111
5      BÀ RA - VUNG TÀU      790000  ...   SE ASIA          3273         2495
..                  ...         ...  ...       ...           ...          ...
494            ZHEJIANG      310012  ...    N ASIA            41           21
495            ZHEJIANG      311812  ...    N ASIA           302          243
496            ZHEJIANG      312300  ...    N ASIA          1195          966
497             JIANGSU      212400  ...    N ASIA           493          362
498            ZHEJIANG      311812  ...    N ASIA           305          272

0   % Female Workers % Migrant Workers Contact Name Contact Phone Contact Fax  \
1              71.0%              0.0%          NaN           NaN         NaN
2               1.0%              0.4%          NaN           NaN         NaN
3              99.0%              0.0%          NaN           NaN         NaN
4              96.0%              0.0%          NaN           NaN         NaN
5              83.0%              0.0%          NaN           NaN         NaN
..               ...               ...          ...           ...         ...
494            74.0%              0.0%          NaN           NaN         NaN
495            56.0%              0.0%          NaN           NaN         NaN
496            77.0%              0.0%          NaN           NaN         NaN
497            95.0%              0.0%          NaN           NaN         NaN
498            59.0%              0.0%          NaN           NaN         NaN

0   Contact Email Subcons
1             NaN     NaN
2             NaN     NaN
3             NaN     NaN
4             NaN     NaN
5             NaN     NaN
..            ...     ...
494           NaN     NaN
495           NaN     NaN
496           NaN     NaN
497           NaN     NaN
498           NaN     NaN

[498 rows x 21 columns]>

In [9]:
# Remove columns that are not needed
df = df.drop(columns=['Nike, Inc. Brand(s)', 'Events', 'Region', 'Contact Name', 'Contact Phone', 'Contact Fax', 'Contact Email', 'Subcons'])
df.head()

,Factory Name,Factory Type,Product Type,Supplier Group,Address,City,State,Postal Code,Country/Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers
1,"A & K DESIGNS, INC.",FINISHED GOODS,APPAREL,A & K DESIGNS,8564 NE ALDERWOOD ROAD,PORTLAND,OREGON,97220,United States of America,130,90,71.0%,0.0%
2,"ACODE SPORTING GOODS CO., LTD",FINISHED GOODS,EQUIPMENT,NO GROUP (EQ),32 VSIIP-A DUONG31,VIETNAM,BÌNH DUONG,82617,Viet Nam,289,233,1.0%,0.4%
3,AJARA 1,FINISHED GOODS,APPAREL,MILTEKS,"BOBOKVATI STREET 14, BOBOKVATI VILLAGE",KOBULETI,AJARIA,6200,GEORGIA,1061,820,99.0%,0.0%
4,AJARA TEXTILE LTD,FINISHED GOODS,APPAREL,MILTEKS,31 MOTSERELIA STR.,POTI,SAMEGRELO-ZEMO SVA,4400,GEORGIA,1351,1111,96.0%,0.0%
5,"ALL WELLS INTERNATIONAL CO., LTD.",FINISHED GOODS,FOOTWEAR,SPORTS GEAR,"81 ROAD., TOC TIEN COMMUNE., PHU MY TOWN",PHU MY,BÀ RA - VUNG TÀU,790000,Viet Nam,3273,2495,83.0%,0.0%

In [10]:
# Correct spelling of Vietnam
df.loc[
    df['Country/Region'].str.contains('^Viet', na=False),
    'Country/Region'
] = 'Vietnam'

In [11]:
df.head()

,Factory Name,Factory Type,Product Type,Supplier Group,Address,City,State,Postal Code,Country/Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers
1,"A & K DESIGNS, INC.",FINISHED GOODS,APPAREL,A & K DESIGNS,8564 NE ALDERWOOD ROAD,PORTLAND,OREGON,97220,United States of America,130,90,71.0%,0.0%
2,"ACODE SPORTING GOODS CO., LTD",FINISHED GOODS,EQUIPMENT,NO GROUP (EQ),32 VSIIP-A DUONG31,VIETNAM,BÌNH DUONG,82617,Vietnam,289,233,1.0%,0.4%
3,AJARA 1,FINISHED GOODS,APPAREL,MILTEKS,"BOBOKVATI STREET 14, BOBOKVATI VILLAGE",KOBULETI,AJARIA,6200,GEORGIA,1061,820,99.0%,0.0%
4,AJARA TEXTILE LTD,FINISHED GOODS,APPAREL,MILTEKS,31 MOTSERELIA STR.,POTI,SAMEGRELO-ZEMO SVA,4400,GEORGIA,1351,1111,96.0%,0.0%
5,"ALL WELLS INTERNATIONAL CO., LTD.",FINISHED GOODS,FOOTWEAR,SPORTS GEAR,"81 ROAD., TOC TIEN COMMUNE., PHU MY TOWN",PHU MY,BÀ RA - VUNG TÀU,790000,Vietnam,3273,2495,83.0%,0.0%

In [12]:
# Check types
df.dtypes

0
Factory Name         object
Factory Type         object
Product Type         object
Supplier Group       object
Address              object
City                 object
State                object
Postal Code          object
Country/Region       object
Total Workers        object
Line Workers         object
% Female Workers     object
% Migrant Workers    object
dtype: object

In [13]:
# Change objects to floats
df['Total Workers'] = df['Total Workers'].astype(float)
df['Line Workers'] = df['Line Workers'].astype(float)

In [14]:
# Remove %
import numpy as np
df['% Female Workers'] = df['% Female Workers'].str.replace('%', '')
df['% Migrant Workers'] = df['% Migrant Workers'].str.replace('%', '')

In [15]:
# Change objects to floats
df['% Female Workers'] = df['% Female Workers'].astype(float)
df['% Migrant Workers'] = df['% Migrant Workers'].astype(float)

In [16]:
# See which factories have no workers listed
df[df['Total Workers'] == 0.0]

,Factory Name,Factory Type,Product Type,Supplier Group,Address,City,State,Postal Code,Country/Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers
173,HUA FENG (CHINA),FINISHED GOODS - COMPONENTS,FOOTWEAR,HUA FENG TEXTILE,HUA FENG TEXTILE NEW INDUSTRIAL PARK,PUTIAN,FUJIAN,0,China Mainland,0.0,0.0,0.0,0.0
294,PPSEC COMPANY LIMITED,FINISHED GOODS - COMPONENTS,APPAREL,SEC ACCESSORIES,PHNOM PENH SPECIAL ECONOMIC ZONE,PHNOM PENH,PHNOM PENH,0,CAMBODIA,0.0,0.0,0.0,0.0

In [17]:
# Remove those rows
df = df.drop([173, 294])

In [18]:
# Number of factories in each country
df['Country/Region'].value_counts()

Vietnam                                                 116
China Mainland                                          107
INDONESIA                                                36
United States of America                                 35
THAILAND                                                 30
Taiwan                                                   24
SRI LANKA                                                18
CAMBODIA                                                 14
Korea (Republic of)                                      12
BRAZIL                                                   11
JAPAN                                                    10
ITALY                                                     9
MALAYSIA                                                  7
HONDURAS                                                  7
Pakistan                                                  6
TURKEY                                                    5
EGYPT                                                     5
MEXICO                                                    5
Moldova (Republic of)                                     4
ARGENTINA                                                 4
INDIA                                                     4
EL SALVADOR                                               3
GEORGIA                                                   3
JORDAN                                                    3
NICARAGUA                                                 2
GUATEMALA                                                 2
NETHERLANDS                                               2
CANADA                                                    2
POLAND                                                    1
ISRAEL                                                    1
CROATIA                                                   1
United Kingdom of Great Britain and Northern Ireland      1
GREECE                                                    1
Bosnia and Herzegovina                                    1
SPAIN                                                     1
ECUADOR                                                   1
Lithuania                                                 1
BULGARIA                                                  1
Name: Country/Region, dtype: int64

In [19]:
# Number of workers in each country
df.groupby(by='Country/Region')['Total Workers'].sum().sort_values(ascending=False)

Country/Region
Vietnam                                                 424049.0
INDONESIA                                               204737.0
China Mainland                                          128321.0
CAMBODIA                                                 40207.0
THAILAND                                                 37525.0
SRI LANKA                                                31909.0
Pakistan                                                 28901.0
HONDURAS                                                 23157.0
INDIA                                                    21807.0
BRAZIL                                                   14820.0
EGYPT                                                     6516.0
Taiwan                                                    6276.0
MALAYSIA                                                  5707.0
NICARAGUA                                                 5377.0
United States of America                                  4992.0
TURKEY                                                    4333.0
JORDAN                                                    4331.0
EL SALVADOR                                               3966.0
MEXICO                                                    3802.0
GEORGIA                                                   3020.0
Korea (Republic of)                                       2754.0
GUATEMALA                                                 2729.0
Moldova (Republic of)                                     2555.0
ARGENTINA                                                 2133.0
Bosnia and Herzegovina                                    2007.0
ITALY                                                     1361.0
ECUADOR                                                    738.0
BULGARIA                                                   487.0
JAPAN                                                      422.0
Lithuania                                                  353.0
POLAND                                                     329.0
ISRAEL                                                     240.0
CANADA                                                     121.0
United Kingdom of Great Britain and Northern Ireland        79.0
NETHERLANDS                                                 45.0
CROATIA                                                     43.0
SPAIN                                                       14.0
GREECE                                                      12.0
Name: Total Workers, dtype: float64

In [20]:
# Percent of migrant workers in each Chinese factory
df[df['Country/Region'] == 'China Mainland']['% Migrant Workers'].value_counts()

0.0      101
0.5        1
7.4        1
21.2       1
24.6       1
3.5        1
100.0      1
Name: % Migrant Workers, dtype: int64

In [21]:
# According to Nike, % Migrant workers are calculated based on total Line Workers
# Create column listing number of migrant workers using % Migrant Workers and Line Workers
df['Migrant Workers'] = ((df['% Migrant Workers'] * df['Line Workers']) / 100).round(2)

In [22]:
# Number of migrant workers in China 
df[df['Country/Region'] == 'China Mainland']['Migrant Workers'].value_counts()

0.00      90
2.02       1
97.17      1
97.82      1
231.40     1
41.98      1
1.00       1
Name: Migrant Workers, dtype: int64

In [23]:
# Number of migrant workers in China greater than zero
df[(df['Country/Region'] == 'China Mainland') & (df['Migrant Workers'] > 0.00)]

,Factory Name,Factory Type,Product Type,Supplier Group,Address,City,State,Postal Code,Country/Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers,Migrant Workers
117,FE NEW CENTURY INDUSTRY (SINGAPORE) PTE LTD,FINISHED GOODS - COMPONENTS,APPAREL,FAR EASTERN,"NO.1588 YINZHONG S.ROAD, HEDONG INDUSTRY PARK",SUZHOU,JIANGSU,215128,China Mainland,1.0,1.0,1.0,100.0,1.00
157,HESHAN TOP EAGLE GARMENT LTD,FINISHED GOODS,APPAREL,NICE APPAREL,DISTRICT 3 OF HECHENG INDUSTRIAL PARK,HESHAN,GUANGDONG,529727,China Mainland,780.0,395.0,80.0,24.6,97.17
176,HUBEI TOP EAGLE GARMENT LTD.,FINISHED GOODS,APPAREL,NICE APPAREL,NO. 9 YONGXING ROAD,SONGZI HUBEI,HUBEI,434200,China Mainland,731.0,405.0,94.0,0.5,2.02
383,SHOETOWN HUNAN,FINISHED GOODS,FOOTWEAR,SHOETOWN,QIYANG DEVELOPMENT ZONE,YONGZHOU CITY,HUNAN,NaN,China Mainland,3429.0,3127.0,84.0,7.4,231.40
406,"SUNNY JET HOSIERY CO., LIMITED",FINISHED GOODS,APPAREL,NO GROUP (AP),"NO. 9 LONGQUAN ROAD,GUANGLING INDUSTRY ZONE",YANGZHOU,JIANGSU,225003,China Mainland,253.0,198.0,82.0,21.2,41.98
479,"YICHUN YISEN INDUSTRY CO., LTD",FINISHED GOODS - COMPONENTS,FOOTWEAR,POU CHEN,ECONOMIC AND TECHNOLOGICAL DEVELOPMENT ZONE,YICHUN CITY,NaN,336000,China Mainland,3211.0,2795.0,97.0,3.5,97.82

In [24]:
# Find factory mentioned in WaPo article
df[df['Factory Name'] == 'QINGDAO TAEKWANG SHOES CO., LTD']

,Factory Name,Factory Type,Product Type,Supplier Group,Address,City,State,Postal Code,Country/Region,Total Workers,Line Workers,% Female Workers,% Migrant Workers,Migrant Workers
335,"QINGDAO TAEKWANG SHOES CO., LTD",FINISHED GOODS,FOOTWEAR,TAEKWANG,"LIQUANGZHUANG TOWN INDUSTRIAL ZONE, LAIXI CITY",QINGDAO,SHANDONG,266604,China Mainland,2007.0,1922.0,79.0,0.0,0.0

In [25]:
# Who are the suppliers in China?
df[df['Country/Region'] == 'China Mainland']['Supplier Group'].value_counts()

NO GROUP (AP)               13
SHOETOWN                     9
STELLA                       6
NO GROUP (EQ)                6
NINGBO                       5
TAEKWANG                     4
TAI WAH                      4
CHANGSHIN                    3
DEAN SHOES                   3
DELTA                        3
FENG TAY                     3
FAR EASTERN                  3
EAGLE NICE                   3
NICE APPAREL                 3
POU CHEN                     2
GUANG DER                    2
ASIAN SOURCING HEADWEAR      2
SABRINA                      1
ALPUS                        1
FORMOSA TAFFETA (FTC)        1
ZHEJIANG WALT                1
POWER WIN                    1
JIASHAN BENHUI               1
TIEN POU                     1
TUNTEX                       1
YEGIN                        1
KUO YUEN                     1
PRIME ASIA                   1
CRYSTAL                      1
GOLD LONG JOHN               1
EVEREST                      1
SEC ACCESSORIES              1
UNITED                       1
QUANG VIET                   1
LEE BOU LABEL ENTERPRISE     1
TORAY SAKAI CO. LTD.         1
KANAAN                       1
DRAGON CROWD                 1
HUA FENG TEXTILE             1
FORMOSA                      1
RAMATEX                      1
ITW GRAPHICS ASIA            1
SAN FANG                     1
LION BROTHERS                1
REGINA MIRACLE               1
WELLPOWER                    1
ANHUI COSMO                  1
HONSIN                       1
TONG HONG                    1
TLC                          1
Name: Supplier Group, dtype: int64

In [26]:
# Countries with most migrant workers
df.groupby(by='Country/Region')['Migrant Workers'].sum().sort_values(ascending=False)

Country/Region
Vietnam                                                 23406.63
THAILAND                                                 6478.07
CAMBODIA                                                 5205.21
MALAYSIA                                                 3545.23
JORDAN                                                   3266.47
ARGENTINA                                                 554.29
China Mainland                                            471.39
INDONESIA                                                 451.57
Taiwan                                                    405.81
EGYPT                                                     319.30
BRAZIL                                                    119.21
United States of America                                   97.22
MEXICO                                                     57.62
ITALY                                                      50.07
JAPAN                                                      46.99
Moldova (Republic of)                                      38.19
HONDURAS                                                   20.27
NICARAGUA                                                  14.11
INDIA                                                      12.08
CANADA                                                     11.01
Korea (Republic of)                                        10.13
NETHERLANDS                                                10.00
EL SALVADOR                                                 7.81
Bosnia and Herzegovina                                      5.54
United Kingdom of Great Britain and Northern Ireland        5.02
GREECE                                                      3.00
TURKEY                                                      2.23
ECUADOR                                                     1.33
BULGARIA                                                    1.03
CROATIA                                                     1.00
SPAIN                                                       0.00
SRI LANKA                                                   0.00
Pakistan                                                    0.00
POLAND                                                      0.00
ISRAEL                                                      0.00
GUATEMALA                                                   0.00
GEORGIA                                                     0.00
Lithuania                                                   0.00
Name: Migrant Workers, dtype: float64

In [27]:
# Number of factories in each country by what they manufacture 
df.groupby(by='Product Type')['Country/Region'].value_counts()

Product Type  Country/Region
APPAREL       Vietnam                     64
              China Mainland              45
              United States of America    29
              THAILAND                    21
              SRI LANKA                   16
                                          ..
MATERIALS     INDONESIA                    4
              Korea (Republic of)          4
              EL SALVADOR                  1
              MALAYSIA                     1
              TURKEY                       1
Name: Country/Region, Length: 70, dtype: int64